@import "_normalize";

body {
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}

.carousel-inner {
    img {
        margin: auto;
    }
}

.round-pic {
    img {
        display: block;
        margin: auto;
        border-radius: 50%;
    }
}

#my-carousel, .some-text {
    margin-top: 20px;
}

